<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LapTrinhWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
	  <servlet-name>pxu.edu.vn.bai01.HelloWorld</servlet-name>
	  <servlet-class>pxu.edu.vn.bai01.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>pxu.edu.vn.bai01.HelloWorld</servlet-name>
	  <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>pxu.edu.vn.bai03.HelloForm</servlet-name>
	  <servlet-class>pxu.edu.vn.bai03.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>pxu.edu.vn.bai03.HelloForm</servlet-name>
	  <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  
  <filter>
		<filter-name>pxu.edu.vn.bai03.LogFilter</filter-name>
		<filter-class>pxu.edu.vn.bai03.LogFilter</filter-class>
		<init-param>
			<param-name>test-param</param-name>
			<param-value>Initialization Paramter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>pxu.edu.vn.bai03.LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	  <servlet-name>pxu.edu.vn.bai03.Servlet_FormProcessing</servlet-name>
	  <servlet-class>pxu.edu.vn.bai03.Servlet_FormProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>pxu.edu.vn.bai03.Servlet_FormProcessing</servlet-name>
	  <url-pattern>/Bai3.3</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>pxu.edu.vn.bai03.FormDangKy</servlet-name>
	  <servlet-class>pxu.edu.vn.bai03.FormDangKy</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>pxu.edu.vn.bai03.FormDangKy</servlet-name>
	  <url-pattern>/FormDangKy</url-pattern>
  </servlet-mapping>
  
  
	<servlet>
		<servlet-name>MyServlet1</servlet-name>
		<jsp-file>/DTconfig.jsp</jsp-file>
		<init-param>
			<param-name>username</param-name>
			<param-value>baongoc99</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>nguyenbaongoc99</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	<servlet-name>MyServlet1</servlet-name>
	<url-pattern>/DTconfig</url-pattern>
	</servlet-mapping>

</web-app>